/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2017, 02:54:56 PM
    Author     : wilmer.mogollon
*/
#fondo {
    position: relative;
    padding: 15px;
    background-size: 100%;
    background-repeat: repeat-y;
}

.modal-bodyc {

    position: relative;
    padding: 15px;
    background-image: url('images/fmodal.JPEG') !important;
    background-size: 100%;
    background-repeat: repeat-y;


}



